* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    background-color: khaki;
    font-family: Arial, sans-serif;
}

p {
    font-size: 20px;
}

header h1 {
    padding: 100px;
    font-size: 40px;
    color: oldlace;
    text-shadow: 2px 2px black;
    text-align: center;
}

footer {
    font-size: 20px;
    padding: 30px;
    background-color: darksalmon;
    text-align: center;
}

figure {
    padding: 20px;
}

#biophoto img {
    width: 300px;
    border-radius: 50%;
    border: 5px solid darkblue;
}

#biophoto figcaption {
    margin-top: 10px;
    text-align: center;
}

.topnav {
    background-color: burlywood;
}

.topnav a{
    text-align:center;
    padding:14px 16px;
    font-size:19px;
}

a, a:visited {
    text-decoration: none;
    color: brown;
}

.quickaccess {
    text-align: center;
    margin: 10px;
}

/*Associated with index.html*/

#bio_header {
    background-image: url('chinesefoodbg.jpg');
}

table, tr, td {
    margin: 20px;
}

table tr .biopara {
    font-size: 20px;
    padding: 10px 0 10px 20px;
}

/*Associated with main.html*/
#homepage_header {
    background-image: url('shoyuramenbg.jpg');
}