body {
    font-family: Arial, sans-serif;
}

header {
    padding: 80px;
    background-color: darksalmon;
    text-align: center;
}

footer {
    padding: 20px;
    background-color: darksalmon;
    text-align: center;
}

div {
    padding: 10px;
}

/*Associated with index.html*/
#identity img {
    width: 200px;
}

#identity {
    text-align: center;
}