* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    background-color: khaki;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    padding: 100px;
    font-size: 40px;
    color: oldlace;
    text-shadow: 2px 2px black;
    text-align: center;
}

footer {
    margin-top: 30px;
    font-size: 20px;
    padding: 15px;
    background-color: white;
    border: 3px solid #cecece;
    text-align: center;
}

footer img {
    height: 50px;
}

.topnav {
    background-color: burlywood;
}

.topnav a{
    text-align:center;
    font-size:20px;
}

a, a:visited {
    text-decoration: none;
    color: #bb2017;
}

a:hover {
    background: #bb2017;
    color: antiquewhite;
}

.quickaccess {
    text-align: center;
}

/*Associated with index.html*/

#bio_header {
    background-image: url('chinesefoodbg.jpg');
}

#biotable, tr, td {
    margin: 20px;
}

#biotable tr .biopara {
    font-size: 20px;
    padding: 10px 0 10px 20px;
}

#biophoto {
    padding: 20px;
}

#biophoto img {
    width: 300px;
    border-radius: 50%;
    border: 5px solid darkblue;
}

#biophoto figcaption {
    margin-top: 10px;
    text-align: center;
}


/*Associated with main.html*/
#homepage_header {
    background-image: url('shoyuramenbg.jpg');
}